{% load i18n mezzanine_tags comment_tags %}
<div id="comments">
<h3>{% trans "Comments" %}</h3>
{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_comments.html" %}
{% else %}
<script type="text/javascript">
$(function() {
    $('.reply').click(function() {
        $(this).next('.reply-form').toggle();
    });
});
</script>
{% comment_thread object_for_comments %}
<h3>{% trans "New Comment" %}</h3>
<form method="post" class="form-stacked" id="comment" action="#comment">
    {% csrf_token %}
    {% if not request.POST.replied_to %}
    {% fields_for posted_comment_form %}
    {% else %}
    {% fields_for unposted_comment_form %}
    {% endif %}
    <div class="actions">
        <input class="btn primary" type="submit" value="{% trans "Comment" %}">
    </div>
</form>
{% endif %}
</div>