{% extends "admin/base.html" %}

{% load mezzanine_tags i18n %}

{% block title %}{{ title }} | Mezzanine{% endblock %}
{% block branding %}<h1 id="site-name">Mezzanine</h1>{% endblock %}
{% block nav-global %}{% endblock %}

{% block extrahead %}
<script type="text/javascript">

if (typeof $ == 'undefined') {
    document.write('<scr' + 
        'ipt src="{{ settings.CONTENT_MEDIA_URL }}js/jquery-1.4.4.min.js"></scr' + 
        'ipt>');
}

window.__admin_keywords_submit_url = '{% try_url "admin_keywords_submit" %}';

</script>


{% if not request.user.is_authenticated %}
<style type="text/css">
    #extra-login-fields .required {margin-top:1px;}
    input.interface {margin:0 0 0 5px; vertical-align:middle;}
    label.interface {display:inline !important; float:none !important; 
        vertical-align:middle; cursor:pointer;}
</style>
<script type="text/javascript">

// We "inject" the extra login fields here rather than defining them in the 
// login.html template, since we don't want to override the login.html 
// template as it's very different between Grappelli and the regular admin.

$(function() {
    if ($('#id_password').length == 1) { 
        $('#extra-login-fields').insertAfter($('#id_password').parent()).show();
    }
});

</script>
{% endif %}

{% if request.user.is_authenticated and not is_popup and not request.GET.pop %}
<style type="text/css">
    .add-row {display:none;}
    .breadcrumbs {display:none; height:30px; margin:0; padding:0;
        background:#e6e6e6 !important;}
    .dropdown-menu {left:0; padding:0;}
    .dropdown-menu ul {display:inline; padding:0; margin:0;}
    .dropdown-menu li {float:left; width:auto; padding:11px 15px; 
        cursor:pointer; height:30px;
        font-size:15px; font-weight:bold; list-style-type:none;}
    .cloned li {display:block; font-size:13px; font-weight:normal; 
        padding:15px 20px 15px 20px !important; border-top:1px solid #eee;}
    .cloned .first {border-top:0px !important;}
    .dropdown-menu li ul {display:none; float:left;}
    .cloned {background:#e6e6e6; border-radius:0 0 5px 5px; 
        border-bottom:1px solid #ccc; padding:0;}
    #bookmarks {display:none;}
    .messagelist {margin-top:14px; z-index:0 !important;}
    {% if original.overridden %}
    .slug, .deletelink {display:none !important;}
    {% endif %}
    {% if singleton %}
    .submit-row * {display:none !important;}
    .submit-row .default {display:inline !important;}
    {% endif %}
</style>
<script type="text/javascript">
// Global flag used for checking whether to hide the visible menu after a small 
// timeout has passed when mousing out from a menu.
var onMenu; 

$(function() {

    var grappelli = $('.admin-title').length == 1;

    // Empty out the breadcrumbs div and position the menu over it.
    var breadcrumb = $('.breadcrumbs');
    $('.breadcrumbs').html(' ').show();
    $('body').append($('.dropdown-menu'));
    // The top value here previously used breadcrumb.offset().top but breaks 
    // when scrolling and reloading in Firefox, so to resolve this it's 
    // hard-coded for now. Reported in github issue #11 
    $('.dropdown-menu').css({
        top: grappelli ? 30 : 37, position: grappelli ? 'fixed' : 'absolute'
    }).show();

    $('.dropdown-menu a').mouseover(function() {
        var parent = $(this).parent();
        var menu = parent.find('.dropdown-menu-menu').clone();
        // If we're over a primary menu link, clone the child menu and show it.
        if (menu.length == 1) {
            onMenu = true;
            $('.cloned').remove();
            $('body').append(menu);
            // Position the child menu under its parent.
            var pos = {
                top: breadcrumb.offset().top + breadcrumb.height(), 
                left: parent.offset().left,
                position: 'absolute'
            }
            menu.css(pos).addClass('cloned').show();
            // Ensure the menu stays visible when we mouse onto another item in it.
            menu.mouseover(function() {
                onMenu = true;
            });
            // Trigger the parent mouseout if we mouseout of the menu.
            menu.mouseout(function() {
                $('.dropdown-menu a').mouseout();
            });
        }
    });

    // Set a timeout to hide visible menus on mouseout of primary menu item.
    $('.dropdown-menu a').mouseout(function() {
        var parent = $(this).parent();
        if (parent.find('.dropdown-menu-menu').length == 1) {
            onMenu = false;
            window.setTimeout(function() {
                if (!onMenu) {
                    $('.cloned').remove();
                }
            }, 1000);
        }
    })

    // Provides link back to homepage.
    $('#user-tools li:last').before('<li><a href="/">View Site</a></li>');
});

// Remove extraneous ``template`` forms from inline formsets since we have
// our own method of dynamic inlines.
$(function() {
    var removeRows = {};
    $.each($('*[name*=__prefix__]'), function(i, e) {
        var row = $(e).parent().parent();
        if (!row.attr('id')) {
            row.attr('id', 'remove__prefix__' + i);
        }
        removeRows[row.attr('id')] = true;
    });
    for (var rowID in removeRows) {
        $('#' + rowID).remove();
    }
});

</script>
{% endif %}

{% endblock %}

{% block footer %}{{ block.super }}
{% if not request.user.is_authenticated %}
<div class="form-row" id="extra-login-fields" style="display:none;">

    <label class="required">{% trans "Interface:" %}</label> 

    <input class="interface" type="radio" name="interface" id="interface_admin" 
        value="admin"{% ifnotequal request.REQUEST.interface "site" %} checked{% endifnotequal %} />
    <label class="interface" for="interface_admin">{% trans "Admin" %}</label>

    <input class="interface" type="radio" name="interface" id="interface_site" 
        value="site"{% ifequal request.REQUEST.interface "site" %} checked{% endifequal %} />
    <label class="interface" for="interface_site">{% trans "Site" %}</label>

</div>
{% endif %}
{% if request.user.is_authenticated %}
{% admin_dropdown_menu %}
{% endif %}
{% endblock %}
