{% extends "admin/base_site.html" %}

{% load i18n mezzanine_tags staticfiles %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/css/admin/dashboard.css" %}">
<!--[if IE 7]><style>.dashboard #content {padding-top: 80px;}</style><![endif]-->
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}<nav id="grp-breadcrumbs">{% trans "Home" %}</nav>{% endblock %}

{% block content_title %}<h1>{% trans "Dashboard" %}</h1>{% endblock %}

{% block content %}
    <div class="g-d-c" id="content-main">
        <div class="g-d-12 g-d-f">
            {% dashboard_column 0 %}
        </div>
        <div class="g-d-6">
            {% block sidebar %}
                {% dashboard_column 1 %}
            {% endblock %}
        </div>
        <div class="g-d-6 g-d-l">
            {% block extendedsidebar %}
                {% dashboard_column 2 %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
