{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Login / Signup" %}{% endblock %}
{% block title %}{% trans "Login / Signup" %}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Account" %}</li>
{% endblock %}

{% block main %}

<fieldset>
	<legend>{% trans "Login" %}</legend>
    <form method="post">
    {% csrf_token %}
    {% fields_for login_form %}
    <div class="form-actions">
        <input class="btn btn-primary btn-large" name="login" type="submit" value="{% trans "Login" %}">
    </div>
    </form>
</fieldset>

<fieldset>
	<legend>{% trans "Signup" %}</legend>
    <form method="post">
    {% csrf_token %}
    {% fields_for signup_form %}
    <div class="form-actions">
        <input class="btn btn-primary btn-large" name="signup" type="submit" value="{% trans "Signup" %}">
    </div>
    </form>
</fieldset>

{% endblock %}

