{% extends "base.html" %}

{% load i18n %}

{% block main %}
<p>{% trans "This is the mobile homepage." %}</p>
<p>
    <a href="{% url set_device "default" %}?next={{ request.path }}">
        {% trans "Click here to view the full site." %}
    </a>
</p>
{% endblock %}
