*.pyc
*.pyo
*.db
*.pot
*.doctree
*.swp
.vscode
.doctrees
.DS_Store
.coverage
.idea/
.pytest_cache
junit/
local_settings.py
.eggs/
.tox/
.venv/
Mezzanine.egg-info/
build/
docs/build/
docs/_build/
dist/
htmlcov/
mezzanine/project_template/static/
/mezzanine/.project
/mezzanine/.pydevproject
