language: python
env:
  - DJANGO="22"
  - DJANGO="master"
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install --upgrade pip setuptools tox
script:
  - tox -e py$(python -c 'import sys;print("".join(map(str, sys.version_info[:2])))')-dj${DJANGO}
matrix:
  fast_finish: true
  include:
    - python: "3.5"
      env: DJANGO="22"
  allow_failures:
    - env: DJANGO="master"
notifications:
  irc: "irc.freenode.org#mezzanine"
  on_success: change
  on_failure: change
