{% load i18n pages_tags %}

{% spaceless %}
{% url home as home_url %}
{% ifnotequal request.path home_url %}
  {% for page in page_branch %}
    {% if not page.parent_id and forloop.first %}
  <ul id="breadcrumbs">
    <li><!-- Home -->
      <a href="{% url home %}">Home</a>
    </li>
  {% endif %}
    <!-- Forloop got {{ page }} -->
    {% url page page.slug as page_url %}
    {% if page.selected %}
      <li{% ifequal request.path page_url %} class="active"{% endifequal %}><!-- Page is on selected branch -->
        <a href="{{ page_url }}">{{ page.title }}</a>
      </li>
      {% breadcrumb_menu page %}
    {% endif %}
  {% if not page.parent_id and forloop.last %}
  </ul>
  {% endif %}
  {% endfor %}
{% endifnotequal %}

{% endspaceless %}
