{% load pages_tags i18n %}

{% spaceless %}
<ul id="primary-menu">
    {% for page in page_branch %}
    {% if forloop.first %}
    <li id="primary-menu-home" class="first{% if on_home %} active{% endif %}">
        <a href="{% url home %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_navigation %}
    <li id="primary-menu-{{ page.html_id }}" 
        class="{% if page.is_current_or_ascendant %}active{% endif %}{% if forloop.last %} last{% endif %}">
        <a href="{% url page page.slug %}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endspaceless %}
