{% load i18n mezzanine_tags pages_tags %}

{% load_settings PAGES_MENU_SHOW_ALL %}

{% spaceless %}
{% url home as home_url %}
{% if page_branch %}
<ul class="footer-tree-menu-level-{{ branch_level }}">
	{% for page in page_branch %}

    {% if forloop.first and page.primary %}
	<li class="first{% ifequal request.path home_url %} active{% endifequal %}">
	    <a href="{% url home %}">{% trans "Home" %}</a>
	</li>
	{% endif %}

	{% if page.in_footer %}
	<li class="{% if page.selected %}active{% endif %}
        {% if not top_level and forloop.first %} first{% endif %}
        {% if forloop.last %} last{% endif %}"
        id="footer-tree-menu-{{ page.html_id }}">
		<a href="{% url page page.slug %}">{{ page.title }}</a>
		{# remove this if tag to always show all nav items #}
		{% if PAGES_MENU_SHOW_ALL or page.selected %}
		{% tree_menu_footer page %}
		{% endif %}
	</li>
    {% endif %}

	{% endfor %}
</ul>
{% endif %}
{% endspaceless %}
