{% extends "admin/change_form.html" %}

{% block after_field_sets %}
<fieldset id="zipimporter-fieldset" class="module aligned collapse-closed collapsed" style="display: none;">
  <h2 class="collapse-toggle">Zip Import</h2>
  <div class="form-row">
    <div class="form-row">
      <label for="zip-import-file">Zip File</label>

      <input type="file" id="zip-import-file" multiple="multiple" />
      <button id="zip-import-button" class="default">Browse</button>

      <div id="zip-import-progress-container">
	<div class="progress" id="zip-import-progress" style="display:none;">
	  <div class="bar" style="width: 0;"></div>
	  <div class="status"></div>
	</div>

	<div class="file-queue">
	</div>
      </div>
    </div>
  </div>
</fieldset>
{% endblock %}
