{% load i18n future pages_tags %}

{% if on_home %}
<li>{% trans "Home" %}</li>
{% else %}
{% for page in page_branch %}

    {% if page.is_primary and forloop.first %}
    <li>
        <a href="{% url "home" %}">{% trans "Home" %}</a>
        <span class="divider">/</span>
    </li>
    {% endif %}

    {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
    <li class="active">{{ page.title }}</li>
    {% else %}
    <li>
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        <span class="divider">/</span>
    </li>
    {% endif %}
    {% if page.has_children %}{% page_menu page %}{% endif %}
    {% endif %}

{% endfor %}
{% endif %}
