{% load i18n pages_tags %}

{% spaceless %}
{% for page in page_branch %}
    {% if page.is_primary %}
        {% if forloop.first %}
            <ul>
        {% endif %}
        {% if page.in_footer %}
            <li><ul>
        {% endif %}
    {% endif %}

    {% if page.in_footer %}
        {% if forloop.first and not page.parent.in_footer and not page.is_primary %}
            <li><ul>
        {% endif %}
        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}>
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endif %}

    {% page_menu page %}

    {% if page.in_footer %}
        {% if forloop.first and not page.parent.in_footer and not page.is_primary %}
            </li></ul>
        {% endif %}
    {% endif %}

    {% if page.is_primary %}
        {% if page.in_footer %}
            </ul></li>
        {% endif %}
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endif %}

{% endfor %}
{% endspaceless %}
