

* {font-family: sans-serif !important; font-weight:normal;}
#header {height:40px;}
#header * {font-size:13px; font-weight:normal;}
.admin-title, #user-tools {margin:5px 10px 5px 2px;}
h1 {font-size:24px; padding:10px 0 20px;}
.object-tools {margin:-50px 0 -35px;}

/* Login stuff */
#extra-login-fields .required {margin-top:1px;}
input.interface {margin:0 5px 0 0px; vertical-align:middle;}
label.interface {display:inline !important; float:none !important;
    vertical-align:middle; cursor:pointer;}
#forgot-password {margin-top:30px; text-align:center;}
.submit-row input {margin-left:8px;}
.login .errornote {width:101%; margin-left:-15px !important; padding-left:15px; top: 50px !important;}
.admin-title {cursor: pointer;}

/* Global Message Box */
ul.messagelist { margin-left: 216px; top:40px;}
/* Nav stuff */
.add-row {display:none;}
.breadcrumbs {display:none;}
ul.messagelist + .dropdown-menu {
    margin-top: 13px;
}

.dropdown-menu {
    position:fixed; overflow:auto; height:100%;
    width:215px !important; float:left; border:0 !important;
    margin:-20px 0 0 0; padding:0 0 50px 0 !important; background:#3f3f3f !important;
    border-right:1px solid #111 !important;
}

.dropdown-menu ul {margin-bottom:200px; border-bottom:1px solid #555;}
.dropdown-menu ul ul {margin-bottom:0; border-bottom:0;}

.dropdown-menu li {
    padding:20px 17px !important; cursor:pointer; list-style-type:none;
    border-bottom:1px solid #222;
    border-top:1px solid #555;
}

.dropdown-menu li li {border: none; padding: 15px 0 0 1px !important;}
.dropdown-menu li a {font-size:20px;}
.dropdown-menu li a:hover {color:#fff;}
.dropdown-menu li li a {font-size:15px; color:#ccc;}

#djDebugToolbarHandle {margin-top:50px !important;}

.messagelist li {
    font-size:14px !important; font-weight:normal !important;
}

.inline-stacked ._order, div.dynamic-fields ._order {display:none;}
.items .placeholder {display:block;}

.keywords-field a {margin-right:10px; float:left;}

#settings-form .module {width:50%;}
#settings-form .help {margin-right:10px;}
#settings-form .charfield {width:50% !important;}
#settings-form .integerfield {width:30px !important;}

/* Make save/delete buttons always available at bottom of screen. */
.change-form div.submit-row {
    position: fixed; left: 216px; bottom: 0; right: 0;
    margin: 0; padding: 10px 25px;
    background: #e6e6e6; border-top: 1px solid #ccc;
    text-align: right;
}

fieldset.module {margin-bottom:25px;}
fieldset .field-box {margin-right:150px !important;}
.help b {color:#666;}

/* Some reasonable font sizes */
td, th, th a, label, .help, p.help {font-size:13px !important;}

/* mezzanine.core.fields.MultiChoiceField */
.multicheckbox li {list-style-type:none; float:left; margin-right:10px;}
.multicheckbox li label {width:auto; font-weight:normal;}
.multicheckbox input {margin:-1px 6px 0 0;}

/* description / generate */
.gen_description textarea {margin-bottom:10px;}

#container {position:inherit;}
#content {margin: 60px 10px 60px 225px; padding: 0 15px 0 15px; }

