/* dashboard */

#content-related.dashboard1 {
    margin:0 10px 0 -38em;
}

#content-related.dashboard2 {
    margin-left:-19em;
}

/* global */

.dropdown-menu li {
    float: right;
    padding: 7px 0 0 23px;
}

.dropdown-menu form {
    float: left;
    margin: 3px 0 0 22px;
}

.cloned li {
    font-size: 14px;
    padding: 15px 20px 15px 25px;
}

.submit-row input {
    margin-left: 0;
    margin-right: 8px;
}

.help {
    clear: right;
}

#settings-form .help {
    margin-left: 10px;
    margin-right: 230px;
}

.multicheckbox li {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.multicheckbox input {
    margin: -1px 0 0 6px;
}

fieldset .field-box {
    margin-right: 0 !important;
    margin-left: 150px !important;
}

.change-form div.submit-row {
    text-align: left;
}

input.interface {
    margin: 0 0 0 5px;
}

/* page tree */

#tree div {
    float: right;
}

#tree .tree-toggle, #tree .changelink {
    float: right;
}

#tree a .icon {
    float: right;
    margin: 0 4px 0 8px;
}

#tree a {
    float: left;
}

#tree .tree-toggle, #tree .changelink {
    font-size: 15px;
    line-height: 18px;
}

.ordering {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

.grappelli-delete {
    margin: 4px 10px 0 4px;
}

.addlist {
    float: left;
}

#addlist-primary {
    float: right;
}

#tree ol ol {
    padding-left: 0;
    padding-right: 40px;
}

/* settings */

#settings-form label {
    float: right;
}

#settings-form p input {
    float: right;
    margin: 2px 0 5px 10px;
}

/* in-line */

.mezz-fb-thumbnail {
    margin-right: 15px !important;
}
