{% load mezzanine_tags %}

{% if form_for_fields.non_field_errors %}
<div class="form-group has-error non-field-errors">
    {% for error in form_for_fields.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
</div>
{% endif %}

{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
{% if field.is_hidden %}
{{ field }}
{% else %}
<div class="form-group input_{{ field.id_for_label }} {{ field.field.type }}
    {% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
    <p class="help-block">
        {% for e in field.errors %}
        {% if not forloop.first %} / {% endif %}{{ e }}
        {% endfor %}
    </p>
    {% else %}
    <p class="help-block">{{ field.help_text }}</p>
    {% endif %}
</div>
{% endif %}
{% endfor %}
