{% load blog_tags %}

{% blog_months as months %}
{% if months %}
<h3>Archive</h3>
{% blog_months as months %}
{% for month in months %}
{% ifchanged month.year %}<h4>{{ month.year }}</h4><ul>{% endifchanged %}
<li><a href="{% url blog_post_list_month year=month.year month=month.month %}"
    >{{ month|date:"F" }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% blog_tags as tags %}
{% if tags %}
<h3>Tags</h3>
<ul class="tags">
{% for tag in tags %}
<li><a href="{% url blog_post_list_tag tag %}" 
    class="tag-weight-{{ tag.weight }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% blog_authors as authors %}
{% if authors %}
<h3>Authors</h3>
{% blog_authors as authors %}
{% for author in authors %}
<a href="{% url blog_post_list_author author.username %}"
    >{{ author.get_full_name|default:author.username }}</a>
{% endfor %}
{% endif %}

<h3>Feeds</h3>
<a href="{% url blog_post_feed "rss" %}" />RSS</a> /
<a href="{% url blog_post_feed "atom" %}" />Atom</a>

