{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<style type="text/css">
    #content-main form {margin-top:20px;}
    #content-main p {background:#eee; padding:5px 10px; margin-bottom:2px;}
    #content-main label {width:230px; float:left;}
    #content-main p input {float:left; margin:2px 0 5px 0;}
    #content-main .button {margin-top:10px;}
    .help {display:block; clear:left; width:50%; padding-top:5px; 
        margin-left:230px;}
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        {{ settings_form.as_p }}
        <input class="button" type="submit" value="{% trans "Save" %}" />
    </form>
</div>
{% endblock %}
